
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, tr, td, th, input {
    font-family: 'Roboto', sans-serif;
}

#container {
    max-width: 1024px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: auto;
}

.error {
    color: red;
    padding: 5px;
    background-color: lightgrey;
}

.success {
    color: green;
    padding: 5px;
    background-color: lightgrey;
}

label, input {
    margin:5px 0;
}

hr {
    border-top: 1px solid lightgrey;
    border-bottom: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px 0;
}
th, td {
    border: 1px solid lightgrey;
    padding: 5px;
    text-align: left;
}

.center {
    text-align: center;
    padding: 5px 0;
}

.left {
    text-align: left;
    padding: 5px 0;
}

.right {
    text-align: right;
    padding: 5px 0;
}